:root {
    /* Custom-class colors */
    --clr-primary-light-gray: hsl(212deg 45% 89%);
    --clr-secondary-white: hsl(0deg 0% 100%);
    --clr-secondary-gray: hsl(220deg 15% 55%);

    /* Custom-class font styling */
    --font-family-default: outfit, sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
}

html {
    height: 100%;
    width: 100%;
    background-color: var(--clr-primary-light-gray);
}

body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h2 {
    font-family: var(--font-family-default);
}

p {
    font-size: 15px;
}

.content-container {
    background-color: var(--clr-secondary-white);
    margin: 5rem 2rem;
    border-radius: 15px;
}

.qr-code-image-container {
    display: flex;
    margin: 1rem;
    padding-top: 1rem;
    background-color: var(--clr-secondary-white);
}

.qr-code-image-container img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.center-content-container {
    display: flex;
    justify-content: center;
}

.text-content-container {
    width: 90%;
    text-align: center;
}

.text-header {
    font-weight: var(--fw-bold);
    padding: 1rem 0;
}

.instructions {
    font-weight: var(--fw-regular);
    color: var(--clr-secondary-gray);
    margin: 1rem 0;
}

@media (width >= 351px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-container {
        width: 287px;
        height: auto;
        margin: auto;
    }

    .qr-code-image-container img {
        width: 255px
    }
}