html {
    height: 100%;
    width: 100%;
    background-color: hsl(212deg 45% 89%);
}

body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h2 {
    font-family: Outfit, sans-serif;
}

p {
    font-size: 15px;
}

.content-container {
    background-color: hsl(0deg 0% 100%);
    margin: 5rem 2rem;
    border-radius: 15px;
}

.qr-code-image-container {
    display: flex;
    margin: 1rem;
    padding-top: 1rem;
    background-color: hsl(0deg 0% 100%);
}

.qr-code-image-container img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.center-content-container {
    display: flex;
    justify-content: center;
}

.text-content-container {
    width: 90%;
    text-align: center;
}

.text-header {
    font-weight: 700;
    padding: 1rem 0;
}

.instructions {
    font-weight: 400;
    color: hsl(220deg 15% 55%);
    margin: 1rem 0;
}

@media (width >= 351px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-container {
        width: 287px;
        height: auto;
        margin: auto;
    }

    .qr-code-image-container img {
        width: 255px
    }
}