html {
    height: 100%;
    width: 100%;
    background-color: hsl(212, 45%, 89%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h2 {
    font-family: 'Outfit', sans-serif;    ;
}

p {
    font-size: 15px;
}

.content-container {
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    margin: 5rem 2rem;
    border-radius: 15px;
}

.qr-code-image-container {
    display: flex;
    margin: 1rem;
    padding-top: 1rem;
    background-color: hsl(0, 0%, 100%);
}

.qr-code-image-container img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.center-content-container {
    display: flex;
    justify-content: center;
}

.text-content-container {
    width: 90%;
    text-align: center;
}

.text-header {
    font-weight: 700;
    padding: 1rem 0;
}

.instructions {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin: 1rem 0;
}

/*

- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

/* - Mobile: 375px
- Desktop: 1440px */